<div>
    <div class="d-flex justify-content-start">
        <div class="pr-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="searchDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    History
                </button>
                <div class="dropdown-menu" aria-labelledby="searchDropdownMenuButton">
                    <h5 *ngIf="history.length < 1" class="dropdown-header">No history yet...</h5>
                    <button *ngFor="let item of history" (click)="onHistoryItemSelect(item)" class="dropdown-item" >{{item}}</button>
                </div>
            </div>
        </div>
        <div class="pr-2">
            <div class="input-group">
                <input #searchInput (keydown.enter)="emitSearch()" type="text" [formControl]="searchControl" class="form-control border-right-0" placeholder="Search text" aria-label="Search">
                <div class="input-group-append">
                    <div tabindex="0" (keydown.enter)="clearSearch()" (click)="clearSearch()" class="input-group-text bg-white border-left-0">
                        <i class="fa fa-times-circle text-muted" aria-hidden="true"></i>
                    </div>
                    <button (click)="emitSearch()" [disabled]="searchButtonDisabled" class="btn btn-primary" type="button">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="found" class="mx-3 d-flex align-items-center">
            <i class="fa fa-arrow-right"></i>
        </div>
        <div *ngIf="found" class="d-inline-block">
            <div class="input-group">
                <input #replaceInput (keydown.enter)="emitReplace()" type="text" [formControl]="replaceControl" class="form-control border-right-0" placeholder="Replace with text" aria-label="Replace">
                <div class="input-group-append">
                    <div tabindex="0" (keydown.enter)="clearReplace()" (click)="clearReplace()" class="input-group-text bg-white">
                        <i class="fa fa-times-circle text-muted" aria-hidden="true"></i>
                    </div>
                    <button (click)="emitReplace()" class="btn btn-primary" type="button">
                        Replace
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
